html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Salsa', cursive;
    background-color:rgb(16, 16, 16);
}

:root {
    --color-light:wheat;
    --color-dark: rgb(36, 36, 36);
    --color-shadow: rgba(33, 33, 33, 0.2);
    --color-secondary:#4a0080;
}

img {
    max-width: 100%;
    width: 100%;
}

.button {
    background-color: wheat;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .footer {
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: wheat;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

.container {
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
    font-size: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color:rgb(36, 36, 36);
}

a {
    color: wheat;
  }

nav>ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
    font-size: 1.5rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.image-grid {
    padding: 0;
    --min: 20rem;
    --gap: 1rem;
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
    display: grid;
    place-content: center;
}

main {
    margin: 1rem;
    color:wheat;
    font-weight:bolder;
}

.button {
    float: left;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-dark);
    font-size: 1.25rem;
}

.navbar__collapse-show {
    display: block !important;
    width: 100%;
}

.navbar__toggle {
    border: none;
    background-color: transparent;
}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }
    .navbar__collapse {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar__toggle {
        display: none;
    }
}